.button {
  width: 238px;
  height: 40px;
  background: #319f1c;
  box-shadow: 0px 4px 8px #64bc45;
  border-radius: 3px;
  color: #fff;
  border: none;
}

.s {
  height: 40px;
}

.m {
  height: 64px;
}
